h1{
    color:red;
    background-color: orange;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: yellow;
    background-color: green;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}